*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 16px; 
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  background: #D4A242; 
  border-radius: 10px; 
  border: 4px solid #282828;
}

::-webkit-scrollbar-thumb:hover {
  background: #855904; 
}

#welcomestore{
  font-family: "Joti One", serif;
}

/* Responsive Styles */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 2px solid #282828;
  }
}