#outfitsection2{
    background: linear-gradient(45deg, rgba(255, 181, 175, 0.5), rgba(173, 46, 36, 0.5));
    border-radius: 30px;
    border: 3px solid rgb(232, 171, 108);
    margin: 3vw;
    padding: 4vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw;
    position: relative;
}

#outfitsection2 a {
    text-decoration: none;
    color: #000;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    #outfitsection2 {
        grid-template-columns: repeat(3, 1fr);
        gap: 3vw;
        padding: 3vw;
    }
}

@media (max-width: 768px) {
    #outfitsection2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 4vw;
        margin: 2vw;
        padding: 4vw;
    }
}

@media (max-width: 480px) {
    #outfitsection2 {
        grid-template-columns: 1fr;
        gap: 3vh;
        margin: 3vw;
        padding: 5vw;
    }
}