@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

#footer{
    position: relative;
    background: white;
}

#footercontent{
    padding-top: 7vh;
    position: absolute;
    top: 0;
    width: 100%;
}


#footerimg{
    width: 100%;
    display: block;
}

#footeranchor1{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#footeranchor1 li a{
    color: rgba(0, 0, 0, 0.7);
    font-family: "Bree Serif", serif;
    font-size: 150%;
}

#footeranchor1 li span{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Bree Serif", serif;
    font-size: 150%;
}

#footeranchor1 li p{
    font-family: sans-serif;
    color: #81171B;
    cursor: pointer;
}

#footeranchor2{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#footeranchor2 li a{
    color: rgba(0, 0, 0, 0.7);
    font-family: "Bree Serif", serif;
    font-size: 150%;
}

#footeranchor2:last-child{
    margin-top: 1vh;
}

#socialmedia span{
    margin-right: 1vw;
    font-size: 120%;
}

#futrdilg{
    font-family: "Joti One", serif;
    font-size: 300%;
    margin-top: 3vh;
    width: 100%;
    text-align: center;
    background: linear-gradient(45deg,rgba(84, 8, 4, 0.7) 0%,rgba(129, 23, 27, 0.7) 25%,rgba(173, 46, 36, 0.7) 50%,rgba(199, 81, 70, 0.7) 75%,rgba(234, 140, 85, 0.7) 100%
    );
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}


#footerlogo{
    position: absolute;
    top: 22vh;
    right: 3vw;
}

#footerlogo img{
    opacity: 0.8;
}

#creatorcopy{
    font-family: "Lato", sans-serif;
    font-size: large;
    width: 80vw;
    margin-left: 3vw;
    margin-top: 4vh;
    justify-content: space-between;
    display: flex;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    #footeranchor1, #footeranchor2 {
        flex-wrap: wrap;
        gap: 2vh;
    }

    #footeranchor1 li a, #footeranchor1 li span,
    #footeranchor2 li a {
        font-size: 120%;
    }

    #futrdilg {
        font-size: 250%;
    }

    #footerlogo {
        top: 20vh;
        right: 2vw;
    }

    #footerlogo img {
        width: 80px;
    }
}

@media (max-width: 768px) {
    #footer {
        position: relative;
        overflow: hidden;
        background-color: #e5d1c6;
    }

    #footerimg {
        display: none;
    }

    #footercontent {
        padding-top: 3vh;
        position: static;
        padding-bottom: 2vh;
    }

    #footeranchor1, #footeranchor2 {
        flex-direction: column;
        align-items: center;
        gap: 1.5vh;
        padding: 0 2vw;
    }

    #footeranchor1 li a, #footeranchor1 li span,
    #footeranchor2 li a {
        font-size: 100%;
    }

    #footeranchor1 li p {
        font-size: 85%;
        text-align: center;
    }

    #socialmedia span {
        font-size: 100%;
        margin-right: 2vw;
    }

    #futrdilg {
        font-size: 180%;
        margin-top: 2vh;
        padding: 0 2vw;
    }

    #footerlogo {
        position: static;
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    #footerlogo img {
        width: 60px;
    }

    #creatorcopy {
        flex-direction: column;
        align-items: center;
        font-size: medium;
        width: 94vw;
        margin-left: 3vw;
        gap: 1vh;
        text-align: center;
        margin-bottom: 2vh;
    }
}

@media (max-width: 480px) {
    #footer {
        background-color: #d4c3b5;
    }

    #footercontent {
        padding-top: 2vh;
    }

    #footeranchor1, #footeranchor2 {
        gap: 1vh;
        padding: 0 3vw;
    }

    #footeranchor1 li a, #footeranchor1 li span,
    #footeranchor2 li a {
        font-size: 85%;
    }

    #footeranchor1 li p {
        font-size: 80%;
    }

    #socialmedia span {
        font-size: 90%;
    }

    #futrdilg {
        font-size: 140%;
        padding: 0 3vw;
    }

    #footerlogo img {
        width: 50px;
    }

    #creatorcopy {
        font-size: small;
        width: 94vw;
        margin-left: 3vw;
    }
}
