@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Imprima&display=swap');

header{
    background-color: #e5d1c6;
}

#lpimg{
    position: fixed;
    width: 100%;
    height: 80vh;
    top: 12vh;
}

#lpimg {
    background-color: #e5d1c6;
}

#lpimg img{
    width: 100%;
    height: 80vh;
    display: block;
}

#lptxt{
    width: 100%;
    height: 80vh;
    display: grid;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
}

#lptxt1{
    font-family: "Imprima", serif;
    font-size: 600%;
    -webkit-text-stroke: 2px black;
}

#lptxt2 ,#lptxt3{
    font-family: "Bree Serif", serif;
    font-size: 200%;
    margin-top: -12vh;
}

.lpt1{
    color: #AD2E24;
}

.lpt2{
    color: #81171B;
}

.lpt3{
    color: #C75146;
}

#lptxt button{
    justify-self: center;
    font-size: 150%;
    width: fit-content;
    padding: 2vh;
    border-radius: 20px;
    box-shadow: 0 0 22px 10px rgba(129, 23, 27, 0.5);
    border: none;
    margin-top: -12vh;
    transition: transform 0.1s ease-in-out;
}

#lptxt button:hover{
    box-shadow: 0 0 22px 10px rgba(129, 23, 27, 0.8);
}

#lptxt button:active{
    transform: scale(0.9);
}


#lpservice{
    position: relative;
    width: 100%;
    background-color: rgba(158, 145, 137, 1);
    padding: 1vh 0;
    top: 92vh;
}

#lpservice ul{ 
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
}

#lpservice ul li div{ 
    font-size: 200%;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    #lptxt1 {
        font-size: 500%;
        -webkit-text-stroke: 1.5px black;
    }

    #lptxt2, #lptxt3 {
        font-size: 180%;
        margin-top: -10vh;
    }

    #lptxt button {
        font-size: 130%;
        margin-top: -10vh;
    }

    #lpservice ul li div {
        font-size: 180%;
    }
}

@media (max-width: 768px) {
    #lpimg {
        height: 70vh;
    }

    #lpimg img {
        height: 70vh;
    }

    #lptxt {
        height: 70vh;
    }

    #lptxt1 {
        font-size: 400%;
        -webkit-text-stroke: 1px black;
    }

    #lptxt2, #lptxt3 {
        font-size: 150%;
        margin-top: -8vh;
    }

    #lptxt button {
        font-size: 110%;
        padding: 1.5vh;
        margin-top: -8vh;
    }

    #lpservice {
        top: 82vh;
        padding: 2vh 0;
    }

    #lpservice ul {
        flex-direction: column;
        gap: 2vh;
    }

    #lpservice ul li div {
        font-size: 150%;
    }
}

@media (max-width: 480px) {
    #lpimg {
        height: 60vh;
    }

    #lpimg img {
        display: none;
    }

    #lptxt {
        height: 60vh;
    }

    #lptxt1 {
        font-size: 300%;
        -webkit-text-stroke: 0.8px black;
    }

    #lptxt2, #lptxt3 {
        font-size: 120%;
        margin-top: -6vh;
    }

    #lptxt button {
        font-size: 100%;
        padding: 1.2vh;
        margin-top: -6vh;
    }

    #lpservice {
        top: 72vh;
    }

    #lpservice ul li div {
        font-size: 120%;
    }
}