#useraddress{
    display: flex;
    padding-top: 3vh;
    margin-left: 4vw;
}

#forminputs input{
    display: block;
    padding: 5px;
    box-shadow: 0 9px 15px 6px rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 5px;
    font-size: 120%;
    margin-bottom: 7vh;
    margin-left: 3vw;
}


#address-line1, #address-line2{
    width: 40vw;
}