#cartmain{
    position: relative;
    top: 16vh;
    margin-bottom: 30vh;
    display: flex;
    width: 100%;
}

#profileview1{
    width: 100%;
}


#sidebar{
    position: sticky;
    top: 16vh; 
    right: 3vw;
    background: linear-gradient(45deg, rgba(212, 162, 66, 0.5), rgba(255, 99, 7, 0.5));
    width: 25%;
    text-align: center;
    padding: 2vw;
    border-radius: 30px;
    border: 3px solid rgb(232, 171, 108);
    font-family: sans-serif;
    height: 80vh;
    transition: top 0.3s ease-in-out;
}

#cartmain::-webkit-scrollbar {
    display: none; 
}

#sidebar h2{
    font-family: "Joti One", serif;
    margin-bottom: 2vh;
}

#sidebar h4{
    color: white;
    margin-bottom: 2vh;
}

#sidebar h3{
    margin: auto;
    width: fit-content;
    border-bottom: 3px dotted black;
    padding: 2vh;
}

#sidebar p{
    color: white;
    background-color: rgba(199, 81, 70, 0.5);
    margin: 1vh auto;
    width: fit-content;
    padding: 2vh;
    border-radius: 20px;
}

#sidebar button{
    border: 3px solid rgb(232, 171, 108);
    padding: 2vh;
    border-radius: 20px;
    font-size: 100%;
    font-weight: 600;
    margin-top: 2vh;
    transition: transform 0.1s ease-in-out;
}

#sidebar button:active{
    transform: scale(0.9);
}

/* Responsive Styles */
@media (max-width: 1024px) {
    #sidebar {
        width: 30%;
        padding: 1.5vw;
        height: 75vh;
    }

    #sidebar h2 {
        font-size: 140%;
    }

    #sidebar h3 {
        font-size: 110%;
    }

    #sidebar h4, #sidebar p {
        font-size: 90%;
    }
}

@media (max-width: 768px) {
    #cartmain {
        flex-direction: column;
        top: 14vh;
        margin-bottom: 20vh;
    }

    #sidebar {
        position: static;
        width: 100%;
        height: auto;
        margin: 0 2vw;
        margin-bottom: 3vh;
        padding: 4vw;
    }

    #sidebar h2 {
        font-size: 130%;
        margin-bottom: 1.5vh;
    }

    #sidebar h3 {
        font-size: 100%;
        padding: 1.5vh;
    }

    #sidebar h4 {
        font-size: 100%;
        margin-bottom: 1.5vh;
    }

    #sidebar p {
        font-size: 90%;
        padding: 1.5vh;
        margin: 0.5vh auto;
    }

    #sidebar button {
        font-size: 95%;
        padding: 1.5vh;
        margin-top: 1.5vh;
    }
}

@media (max-width: 480px) {
    #cartmain {
        top: 12vh;
    }

    #sidebar {
        margin: 0 3vw;
        padding: 5vw;
    }

    #sidebar h2 {
        font-size: 120%;
    }

    #sidebar h3 {
        font-size: 95%;
        padding: 1vh;
    }

    #sidebar h4, #sidebar p {
        font-size: 85%;
    }

    #sidebar button {
        font-size: 90%;
        padding: 1.2vh;
    }
}