#ordermain {
    margin: 4vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 0 0 1vw rgb(173, 46, 36, 0.35);
}

#ongoingorder a{
    text-decoration: none;
}

#orderimg img {
    height: 50vh;
    display: block;
    border-right: 5px solid #D4A242;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#orderinfo {
    height: 48vh;
    width: 100%;
    color: white;
    font-family: sans-serif;
    margin: 0 1vw;
    margin-top: 2vh;
}

#orderinfo h4 {
    font-weight: 550;
}

#upperinfo {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    align-items: center;
}

#upperinfo p {
    font-family: "Bree Serif", serif;
    color: #D4A242;
    font-size: 150%;
    white-space: nowrap;
    /* Prevents text from wrapping */
    overflow: hidden;
    /* Hides overflow text */
    text-overflow: ellipsis;
    /* Adds '...' when text is too long */
    max-width: 25vw;
    /* Adjust based on your layout */
    display: inline-block;
}

#savetofav {
    font-size: 150%;
    color: rgb(173, 46, 36);
}


.tracker-box {
    padding-top: 5vh;
}

.tracker-box h4 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    margin-bottom: 5vh;
    margin-left: -2vw;
}

.tracker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-top: 10px;
    position: relative;
}

.tracker::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, black 63%, white 37%);
    transform: translateY(-50%);
    z-index: 1;
}

#tracker::before {
    background: black;
}

.step {
    position: relative;
    z-index: 2;
    text-align: center;
}

.circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    position: relative;
}

.completed .circle {
    background-color: black;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.labels span {
    font-size: 90%;
    display: block;
}

#middleinfo {
    display: flex;
    gap: 5vw;
    margin-top: 2vh;
}

#label1 {
    margin-left: -2vw;
}

#label2 {
    margin-left: -2vw;
}


#bottominfo {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    align-items: center;
    margin: 0 2vw;
    margin-top: 8vh;
}

#bottominfo p {
    color: black;
    font-family: "Lato", sans-serif;
}

#bottominfo p span {
    color: white;
}

#productsizes {
    margin-left: 2vw;
    margin-top: 5vh;
    font-family: sans-serif;
}


#productsizes input {
    background: radial-gradient(circle, rgba(129, 23, 27, 0.25), rgba(84, 8, 4, 0.25));
    color: white;
    border: 3px solid #C75146;
    border-radius: 10px;
    padding: 0.3vw;
    font-weight: 600;
    text-align: center;
    width: 2vw;
}


#productsizes input:focus {
    outline: none;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    #ordermain {
        margin: 3vw;
    }

    #orderimg img {
        height: 45vh;
    }

    #orderinfo {
        height: auto;
        min-height: 43vh;
    }

    #upperinfo p {
        font-size: 130%;
        max-width: 30vw;
    }

    #savetofav {
        font-size: 130%;
    }

    .tracker {
        width: 400px;
    }

    #bottominfo {
        margin: 0 1vw;
        margin-top: 6vh;
    }
}

@media (max-width: 768px) {
    #ordermain {
        flex-direction: column;
        margin: 2vw;
        box-shadow: 0 0 0 2vw rgb(173, 46, 36, 0.35);
    }

    #orderimg img {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 5px solid #D4A242;
    }

    #orderinfo {
        height: auto;
        margin: 2vw;
    }

    #upperinfo {
        flex-direction: column;
        align-items: flex-start;
        gap: 2vh;
        margin-top: 1vh;
    }

    #upperinfo p {
        font-size: 120%;
        max-width: 100%;
    }

    #savetofav {
        font-size: 140%;
    }

    .tracker-box {
        padding-top: 3vh;
    }

    .tracker-box h4 {
        margin-bottom: 3vh;
        margin-left: 0;
    }

    .tracker {
        width: 100%;
        max-width: 400px;
    }

    .labels span {
        font-size: 80%;
    }

    #middleinfo {
        flex-direction: column;
        gap: 2vh;
        margin-top: 3vh;
    }

    #label1, #label2 {
        margin-left: 0;
    }

    #bottominfo {
        flex-direction: column;
        align-items: flex-start;
        gap: 2vh;
        margin: 0;
        margin-top: 4vh;
    }

    #productsizes {
        margin-left: 0;
        margin-top: 2vh;
    }

    #productsizes input {
        width: 8vw;
        padding: 1vw;
    }
}

@media (max-width: 480px) {
    #ordermain {
        margin: 3vw;
    }

    #orderinfo {
        margin: 3vw 2vw;
    }

    #orderinfo h4 {
        font-size: 90%;
    }

    #upperinfo {
        gap: 1.5vh;
    }

    #upperinfo p {
        font-size: 110%;
    }

    #savetofav {
        font-size: 130%;
    }

    .tracker {
        max-width: 300px;
    }

    .tracker::before {
        height: 3px;
    }

    .circle {
        width: 10px;
        height: 10px;
    }

    .labels span {
        font-size: 70%;
    }

    #middleinfo {
        gap: 1.5vh;
        margin-top: 2vh;
    }

    #bottominfo {
        gap: 1.5vh;
        margin-top: 3vh;
    }

    #bottominfo p {
        font-size: 90%;
    }

    #productsizes input {
        width: 12vw;
        padding: 2vw;
    }
}